platform-core/src/main/resources/schema/xcf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
           jxb:version="2.1">
    <xs:element name="configuration">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="network">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                        <xs:attribute name="scheduling" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="partitioning">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="partition">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="instance" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element name="annotation" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="parameter" maxOccurs="unbounded"
                                                                            minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute type="xs:string"
                                                                                              name="name"
                                                                                              use="required"/>
                                                                                <xs:attribute type="xs:string" name="value">
                                                                                    <!-- rename property generated by JAXB (avoiding "value" name conflict) -->
                                                                                    <xs:annotation>
                                                                                        <xs:appinfo>
                                                                                            <jxb:property name="valueAttribute"/>
                                                                                        </xs:appinfo>
                                                                                    </xs:annotation>
                                                                                </xs:attribute>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:string" name="id" use="required"/>
                                                            <xs:attribute type="xs:string" name="action" use="optional"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="id" use="required"/>
                                                <xs:attribute name="complexity" type="xs:unsignedLong"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:unsignedByte" use="required"/>
                                    <xs:attribute name="pe" type="xs:string"/>
                                    <xs:attribute name="scheduling" type="xs:string"/>
                                    <xs:attribute name="code-generator" type="xs:string"/>
                                    <xs:attribute name="host" type="xs:boolean"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="code-generators">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="code-generator">
                                <xs:complexType>
                                    <xs:sequence minOccurs="0">
                                        <xs:element maxOccurs="unbounded" name="parameter">
                                            <xs:complexType>
                                                <xs:attribute name="key" type="xs:string" use="required"/>
                                                <xs:attribute name="value" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string" use="required"/>
                                    <xs:attribute name="platform" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="media">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="interface">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="parameter">
                                            <xs:complexType>
                                                <xs:attribute name="key" type="xs:string" use="required"/>
                                                <xs:attribute name="value" type="xs:unsignedByte" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="medium" type="xs:string" use="required"/>
                                    <xs:attribute name="serialization" type="xs:string" use="required"/>
                                    <xs:attribute name="external" type="xs:boolean" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="memory">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="parameter">
                                            <xs:complexType>
                                                <xs:attribute name="key" type="xs:string" use="required"/>
                                                <xs:attribute name="value" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="medium" type="xs:string" use="required"/>
                                    <xs:attribute name="size" type="xs:string" use="required"/>
                                    <xs:attribute name="shared" type="xs:boolean" use="required"/>
                                    <xs:attribute name="reserve" type="xs:boolean" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="connections">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="connection">
                                <xs:complexType>
                                    <xs:attribute name="source" type="xs:string" use="required"/>
                                    <xs:attribute name="source-port" type="xs:string" use="required"/>
                                    <xs:attribute name="target" type="xs:string" use="required"/>
                                    <xs:attribute name="target-port" type="xs:string" use="required"/>
                                    <xs:attribute name="size" type="xs:unsignedInt" use="required"/>
                                    <xs:attribute name="bandwidth" type="xs:unsignedLong"/>
                                    <xs:attribute name="medium" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" name="memory">
                                <xs:complexType>
                                    <xs:attribute name="instance" type="xs:string" use="required"/>
                                    <xs:attribute name="var" type="xs:string" use="required"/>
                                    <xs:attribute name="medium" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>